.footer {
    display: flex;
    margin: 50px;
   
}

.footerLegales{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(242, 114, 227, 0.843);
    color: #ffffff;
    padding: 1px;
}

.footerLogo {
    width: 30px;
    margin: 5px;
    margin-top: 15px;
}