.boxNav {
    background-color: rgba(242, 114, 227, 0.843);
}

.linkNav {
    text-decoration: none;
    margin: 20px;
    color: rgb(7, 17, 30);
}

.linkMobile {
    text-decoration: none;
    color: black;
    display: flex;
    margin: 15px;

}

.logoimg {
    margin-top: 15px;
    height: 50px;
    width: 50px;
}

.subNav {
    display: flex;
    width: 100%;
    align-items: flex-end;
    color: white;
    justify-content: center;
    padding-bottom: 10px;
}
